<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-script-type" content="text/javascript"/>
        <title>{% block title%} Frankencode | Mark Doffman {% endblock %}</title>
        <!-- Font CSS -->
        <link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn&subset=latin' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'/>

        <!-- Base CSS -->
        <link rel="stylesheet" href="/site_media/css/blueprint/reset.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/site_media/css/blueprint/typography.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/site_media/css/blueprint/print.css" type="text/css" media="print"/>
        <!--[if IE]>
        <link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection" />
        <![endif]-->

        <!-- Debug grid CSS -->
        <link rel="stylesheet" href="/site_media/css/baseline.css" type="text/css" media="screen, projection"/>

        <link rel="stylesheet" href="/site_media/css/frankencode-base.css" type="text/css" media="screen, projection"/>     
        <link rel="stylesheet" href="/site_media/css/frankencode-extra.css" type="text/css" media="screen, projection"/>
    </head>
    <body>
        
        <div class='container'>
            <h1 class='error-page'>
                There has been an error, you may have more luck back at <br/><a class='error-link' href=/>Frankencode</a>
            </h1>
        </div>

    </body>
</html>
